In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_2.csv')

# Check if data was imported.
if df.empty == False: print("Data was successfully imported. Check out what it is.")

Data was successfully imported. Check out what it is.

<h3>Getting to know the data</h3>

In [3]:
# Check the amount of data (variables = columns).
df.shape

(616, 11)

In [4]:
# What are the names of the columns in the dataset.
df.columns

Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary'],
      dtype='object')

In [5]:
# Take a look at the top and bottom rows
df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [6]:
df.tail()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# check how many non-null entries (None or NaN) are in the columns,
# also check the data types for mistyped data. Alternatively use
# df.dtypes if null-entries are not of interest.
# the MovieID with the value '0' does not count as null value -> null = NaN for int and float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [8]:
# Summary of numeric columns
df.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [9]:
# Get information on columns of type 'object' (non-numeric data).
df.describe(include=object)

# Results: there are possible duplicates in Title (only 609 are unique)
# also the mode (top) is present twice.
# Genre and MPAA Rating would benefit from conversion to 'category' to 
# minimise memory usage as they are groups of clearly limited individuals,
# also downsize from float64 and int64.
# only 4 unique values for MPAA Rating and 16 Genre of which Action is the most frequent

,Title,MPAA Rating,Release Date,Genre,Summary
count,615,615,615,615,496
unique,609,4,593,16,496
top,The Lion King,PG-13,1996-06-21,Action,"After a single, career-minded woman is left on..."
freq,2,285,2,110,1

In [10]:
# Rename columns to remove hidden white spaces.
df = df.rename(columns={"MPAA Rating": "MPAARating", "Release Date": "ReleaseDate", "Rating Count": "RatingCount"})

df.columns

Index(['MovieID', 'Title', 'MPAARating', 'Budget', 'Gross', 'ReleaseDate',
       'Genre', 'Runtime', 'Rating', 'RatingCount', 'Summary'],
      dtype='object')

In [11]:
# Check all distinct values for MPAA Rating.
print(df.MPAARating.unique())

# And all values for Genre.
print(df.Genre.unique())

# This also checks for misspellings that could be merged.

['PG-13' 'PG' 'R' 'G' nan]
['Romance' 'Comedy' 'Crime' 'War' 'Drama' 'Family' 'Action' 'Animation'
 'Science Fiction' 'Adventure' 'Thriller' 'Western' 'Horror' 'Mystery'
 'History' 'Fantasy' nan]

In [12]:
# Drop the summary column.
df.drop(['Summary'], axis=1, inplace=True)

# check drop
df.columns

Index(['MovieID', 'Title', 'MPAARating', 'Budget', 'Gross', 'ReleaseDate',
       'Genre', 'Runtime', 'Rating', 'RatingCount'],
      dtype='object')

In [13]:
# Show and compare duplicates in the dataset
pd.concat(g for _, g in df.groupby("Title") if len(g) > 1)

# Alternative: 
#titles = df["Title"]
#df[titles.isin(titles[titles.duplicated()])].sort_values("Title")

# g for (placeholder, g) in df.groupby('bla') if 'bla' : the underscore is a typical symbol for
# a placeholder of an inevitable argument where we don't want to use it for anthing in a lambda-
# like expression [stackoverflow] 

# result: all are remakes (different year) except Jurassic Park III

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
65,66,Aladdin,G,28000000.0,5.040502e+08,1992-11-25,Animation,90.0,8.0,336384.0
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,NaN,NaN
195,196,Godzilla,PG-13,130000000.0,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
107,108,The Lion King,G,45000000.0,7.882418e+08,1994-06-23,Animation,89.0,8.5,869127.0
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN

In [14]:
# Searching for duplicates could happen by comparing Title and Year.
# Create a new column for just the release year and search for duplicates
# with title + year and drop the ones where they match.

# ReleaseDate format is always the same, get the year in indices 0:4.
df['Year'] = df.ReleaseDate.str[:4]

# Check for duplicate titles where the release year is the same.
df[df.duplicated(['Title', 'Year'], keep=False)]

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount,Year
98,99,Jurassic Park III,PG-13,93000000.0,368800000.0,2001-07-16,Thriller,92.0,8.9,1690474.0,2001
249,250,Jurassic Park III,PG-13,93000000.0,368780809.0,2001-07-18,Adventure,92.0,5.9,280110.0,2001

In [15]:
# manually dropping Jurassic Park III with the MovieID 250.
# Discrepacy with ReleaseDate: 07-16 USA opening, 07-18 general release
# Also Gross, Genre, and Rating.
# Keeping the movie with MovieID '99' because it has a higher RatingCount
df = df.drop(df.index[[249]])
#df.drop([249], axis=0, inplace=True)

In [16]:
# check if the duplicate was dropped
df[df.duplicated(['Title', 'Year'], keep=False)]

Empty DataFrame
Columns: [MovieID, Title, MPAARating, Budget, Gross, ReleaseDate, Genre, Runtime, Rating, RatingCount, Year]
Index: []

In [17]:
# Also drop the Year column, as it is no longer needed.
df.drop(['Year'], axis=1, inplace=True)

Add code (round()) to make the float numbers with only two decimal places for monetary values.

In [18]:
# Change ReleaseDate to type datetime
df.loc[:, 'ReleaseDate'] = pd.to_datetime(df.ReleaseDate, yearfirst=True)

# Change Budget and Gross to type float
# unable to change to 'float' only 'float32' works
df.Budget = df.Budget.astype('float32')
    # Alternative tries
    #df['Budget'] = df['Budget'].astype(float)
    #df["Budget"] = pd.to_numeric(df["Budget"], downcast="float")

df.Gross = df.Gross.astype('float32')

In [19]:
# Check dtype has been changed
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 615
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MovieID      615 non-null    int64
 1   Title        614 non-null    object
 2   MPAARating   614 non-null    object
 3   Budget       614 non-null    float32
 4   Gross        614 non-null    float32
 5   ReleaseDate  614 non-null    datetime64[ns]
 6   Genre        614 non-null    object
 7   Runtime      614 non-null    float64
 8   Rating       507 non-null    float64
 9   RatingCount  507 non-null    float64
dtypes: datetime64[ns](1), float32(2), float64(3), int64(1), object(3)
memory usage: 48.0+ KB

In [20]:
# The last row contains no values and is dropped.
df = df.drop(df.index[[614]]) # index 614 b/c of dropped duplicate row Jurassic Park III
df.tail()

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [21]:
# Use median to replace missing values in Rating and RatingCount
# (specified in exercise given).

df["Rating"].fillna(value=df["Rating"].median(), inplace=True)
df["RatingCount"].fillna(value=df["RatingCount"].median(), inplace=True)
df.tail()

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240160.0
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240160.0
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240160.0
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240160.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0

Exercise text states there are no outliers.
But still, add a check for outliers here.

<h3>Questions asked by the exercise</h3>
<ul>
<li>show the movies with more than 7 in <b>Rating</b> & greater than 50 million <b>Gross</b></li>
<li>show the movies with more than 7 in <b>Rating</b> & greater than 50 million <b>Gross</b> & with Parental guidance as <b>MPAA Rating</b></li>
<li><b>count</b> of <b>Animation</b> movies with more than 7 in <b>Rating</b> (use the count() function)</li>
<li>show the list of <b>top 5 movies</b> based on Budget</li>
<li>show the <b>top 5 Comedy movies</b> approved by the audience (use Rating)</li>
<li>top 5 movie names by Rating</li>
<li>top 3 high Gross Romance movies produced after 2000 (for the date you can use a string)</li>
<li>how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)</li>
<li>top 5 expensive movies produced after 2000 (measured by Budget)</li>
<li>most & least frequent MPAA Rating in the dataset in terms of occurances</li>
<li>most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)</li>
<li>which Genre is favored the most by the people?</li>
</ul>

In [22]:
# show the movies with more than 7 in Rating & greater than 50 million Gross
df.loc[(df['Rating'] > 7) & (df['Gross'] > 50000000)]

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079912.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001696.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431624.0,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105472.0,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000.0,675120000.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766592.0,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644544.0,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328640.0,2014-07-30,Action,121.0,8.0,978222.0

In [23]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental Guidance as MPAA Rating
df.loc[(df['Rating'] > 7) & (df['Gross'] > 50000000) & (df['MPAARating'] == "PG")]

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107991e+07,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000.0,2.358601e+08,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000.0,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0
15,16,The Little Mermaid,PG,40000000.0,2.223000e+08,1989-11-17,Animation,83.0,7.6,219221.0
16,17,Back to the Future Part II,PG,40000000.0,3.320000e+08,1989-11-20,Science Fiction,108.0,7.8,438940.0
19,20,Steel Magnolias,PG,15000000.0,9.590409e+07,1989-11-15,Drama,119.0,7.3,43037.0
24,25,Home Alone,PG,18000000.0,4.766847e+08,1990-11-09,Family,103.0,7.6,414472.0
32,33,The Hunt for Red October,PG,30000000.0,1.992000e+08,1990-03-02,Thriller,134.0,7.6,167212.0
34,35,Back to the Future Part III,PG,40000000.0,2.445276e+08,1990-05-25,Family,118.0,7.4,369652.0
45,46,Teenage Mutant Ninja Turtles II,PG,25000000.0,7.860000e+07,1991-03-22,Action,88.0,8.0,397467.0
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
49,50,Star Trek VI: The Undiscovered Country,PG,27000000.0,9.690000e+07,1991-12-05,Science Fiction,113.0,7.2,66086.0
72,73,A League of Their Own,PG,40000000.0,1.074588e+08,1992-07-01,Comedy,128.0,7.2,85932.0
80,81,Groundhog Day,PG,14600000.0,7.090698e+07,1993-02-11,Comedy,101.0,8.0,549538.0
106,107,Star Trek: Generations,PG,38000000.0,1.200000e+08,1994-11-17,Science Fiction,118.0,8.5,869127.0
126,127,Mr. Holland's Opus,PG,31000000.0,1.062700e+08,1995-12-29,Family,137.0,7.3,33906.0
130,131,Apollo 13,PG,52000000.0,3.552379e+08,1995-06-30,Drama,140.0,7.6,250975.0
174,175,Contact,PG,90000000.0,1.711203e+08,1997-07-11,Science Fiction,150.0,7.4,239569.0
185,186,The Truman Show,PG,60000000.0,2.641182e+08,1998-06-04,Comedy,103.0,8.1,859224.0
188,189,The Prince of Egypt,PG,70000000.0,2.186132e+08,1998-12-15,Animation,99.0,7.1,110340.0
215,216,Tarzan,PG,150000000.0,4.480000e+08,1999-06-18,Animation,88.0,7.3,187724.0
220,221,Remember the Titans,PG,30000000.0,1.367067e+08,2000-09-29,Drama,113.0,7.8,186997.0
241,242,Shrek,PG,60000000.0,4.844092e+08,2001-05-16,Animation,90.0,7.8,574978.0
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000.0,9.751000e+08,2001-11-04,Fantasy,152.0,7.6,583224.0
261,262,Ice Age,PG,59000000.0,3.832572e+08,2002-03-10,Animation,81.0,7.5,411963.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000.0,8.766885e+08,2002-11-13,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000.0,6.314421e+08,2004-11-05,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000.0,7.898045e+08,2004-05-31,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000.0,9.198388e+08,2004-05-19,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000.0,6.317446e+08,2008-06-04,Animation,90.0,7.5,390478.0
410,411,Monsters vs Aliens,PG,175000000.0,3.815099e+08,2009-03-19,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000.0,7.350991e+08,2009-05-13,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,9.339592e+08,2009-07-07,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000.0,5.435140e+08,2010-07-08,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000.0,3.218872e+08,2010-10-28,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000.0,4.948788e+08,2010-03-05,Animation,98.0,8.1,624128.0
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000.0,5.550000e+08,2011-12-08,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000.0,6.656923e+08,2011-05-25,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000.0,3.583756e+08,2012-09-20,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000.0,4.712229e+08,2012-11-01,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000.0,5.389832e+08,2012-06-21,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000.0,9.707619e+08,2013-06-25,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000.0,5.851789e+08,2013-03-20,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000.0,1.274219e+09,2013-11-27,Animation,102.0,7.5,527284.0
498,499,The Lego Movie,PG,60000000.0,4.691607e+08,2014-02-06,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000.0,6.091231e+08,2014-06-12,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000.0,6.521055e+08,2014-10-24,Animation,102.0,7.8,380953.0

In [24]:
# count of Animation movies with more than 7 in Rating (use the count() function)
print((df.loc[(df['Genre'] == ('Animation')) & (df['Rating'] > 7)]).count())

# TODO: return only one count

MovieID        39
Title          39
MPAARating     39
Budget         39
Gross          39
ReleaseDate    39
Genre          39
Runtime        39
Rating         39
RatingCount    39
dtype: int64

In [27]:
# show the list of top 5 movies based on Budget
top5_budget = df.sort_values(by='Budget', ascending=False)
top5_budget.head()

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240160.0
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240160.0
573,574,Justice League,PG-13,300000000.0,6.579000e+08,2017-11-15,Action,120.0,6.9,240160.0

In [28]:
# show the top 5 Comedy movies approved by the audience (use Rating)
df.loc[(df['Genre'] == 'Comedy')].nlargest(5,'Rating')

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
111,112,Forrest Gump,PG-13,55000000.0,677945408.0,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000.0,264118208.0,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000.0,70906976.0,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000.0,119418504.0,1991-12-27,Comedy,130.0,7.7,62493.0

In [29]:
# top 5 movie names by Rating
top5_movies = df.sort_values(by='Rating', ascending=False)
top5_movies.head()

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000.0,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0
83,84,Schindler's List,R,22000000.0,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0

In [34]:
# top 3 high Gross Romance movies produced after 2000 (for the date you can use a string)
# Previous part of the assignment converted ReleaseDate to datetime, we can't use a string!
df.loc[(df['Genre'] == 'Romance') & (df['ReleaseDate'] >= '2000-01-01')].nlargest(3,'Gross')

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171840.0,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827456.0,2009-03-15,Romance,130.0,4.7,252223.0

In [47]:
# how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)

# With value_counts() as requested by the assignment
print(f'There are {len(list(df.Genre.value_counts()))} Genres present.')

# Shorter solution
print(f'There are {df.Genre.nunique()} Genres present.')

# List of how many films belong to each genre
pd.value_counts(pd.Series(df['Genre']))

There are 16 Genres present.
There are 16 Genres present.

Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Family              29
Adventure           29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: Genre, dtype: int64

In [48]:
# top 5 expensive movies produced after 2000 (measured by Budget)
df.loc[(df['ReleaseDate'] >= '2000-01-01')].nlargest(5,'Budget')

,MovieID,Title,MPAARating,Budget,Gross,ReleaseDate,Genre,Runtime,Rating,RatingCount
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240160.0
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240160.0
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240160.0
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [50]:
# most & least frequent MPAA Rating in the dataset in terms of occurances
df.MPAARating.value_counts(normalize=True) # proportion

PG-13    0.462541
PG       0.262215
R        0.231270
G        0.043974
Name: MPAARating, dtype: float64

In [51]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)
df.groupby(['Genre'],as_index=False).Budget.mean().sort_values('Budget',ascending=False)

              Genre       Budget
7           Fantasy  161211104.0
0            Action  144168176.0
1         Adventure  135241376.0
12  Science Fiction  126783784.0
2         Animation  115879312.0
10          Mystery  103545456.0
14              War   90755552.0
13         Thriller   86585368.0
15          Western   79833336.0
6            Family   62689656.0
4             Crime   56588236.0
5             Drama   55925756.0
8           History   55500000.0
3            Comedy   49577272.0
11          Romance   45400196.0
9            Horror   37004284.0

In [52]:
# which Genre is favored the most by the people?

#df.groupby(['Genre'],as_index=False).Rating.mean().sort_values('Rating',ascending=False)

              Genre    Rating
8           History  7.625000
14              War  7.355556
7           Fantasy  7.337037
15          Western  7.333333
5             Drama  7.193939
12  Science Fiction  7.151351
2         Animation  7.110345
13         Thriller  6.995122
0            Action  6.985455
4             Crime  6.876471
10          Mystery  6.827273
9            Horror  6.735714
1         Adventure  6.724138
3            Comedy  6.631313
11          Romance  6.400000
6            Family  6.117241